/* 公共*/
/* html,
body {
  width: 100%;
  height: 100%;
} */

.t {
  width: 90%;
  height: 120px;
  line-height: 120px;
  margin: 0 auto;
  box-shadow: 0px 15px 25px #fee7ff;
}

.t .img {
  width: 50px;
  margin-top: 23px;
  margin-left: 30px;
  float: left;
}

.title {
  height: 100px;
  line-height: 100px;
  display: block;
}

.lis {
  display: none;
}

.tit {
  font-size: 45px;
  float: left;
}

.f img {
  height: 70px;
  border-radius: 50%;
  position: absolute;
}

.f {
  width: 70px;
  height: 120px;
  float: right;
  position: absolute;
  top: 0px;
  right: 100px;
}

.f .a {
  color: #ff0000;
  list-style: none;
  text-decoration: none;
  height: 40px !important;
  margin-left: 8px;
  font-size: 20px;
  position: absolute;
  top: 30px;
}

.l {
  width: 20%;
  height: 980px;
  background: linear-gradient(to right, rgb(209, 238, 241), rgb(239, 232, 239));
  float: left;
}

.ll {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border: 2px solid rgb(183, 183, 183);
  font-size: 24px;
}

.ll:hover {
  background-color: #deb0e8;
  color: white;
}

.ll img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 5px;
}

.container {
  width: 78%;
  float: left;
  padding-top: 20px;
  box-sizing: border-box;
}

/* @media screen and(min-width:1400px) {
  .m {
    float: left;
    width: 800px;
    height: 800px;
  }
} */

.m {
  float: left;
  width: 630px;
  height: 630px;
  /* width: 550px;
  height: 550px; */
  box-shadow: 0px 5px 8px #fee7ff;
}

.sre {
  border: 4px solid rgb(242, 208, 214);
  padding: 2px 3px;
  border-radius: 20px;
  background-color: rgb(250, 225, 229);
}

.sre input {
  border-radius: 20px;
  background-color: white;
}

/* .pageT {
  float: left;
} */

.sre button {
  border-radius: 10px;
  background-color: rgb(201, 255, 254);
  border: 2px solid rgb(154, 154, 154);
}

.break {
  float: left;
  border: 2px solid rgb(208, 203, 205);
  border-radius: 10px;
  background-color: rgb(202, 253, 234);
  height: 38px;
  width: 50px;
  margin-left: 2px;
  margin-top: 1px;
  display: none;
}

.break:hover {
  background-color: #8dcbca;
}

.r2 {
  display: none;
}

.r3 {
  display: none;
}

/* alert提示框 */
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toast .toast-body {
  padding: 0 !important;
}

.toast .alert-success {
  margin-bottom: 0 !important;
}

/* 头部导航 */
.container .top {
  display: flex;
  justify-content: space-between;
}

.container .top h3 {
  font-weight: 900;
}

.container .top .plus-btn {
  background-color: #539ACB !important;
  color: #fff;
  border: none;
}

/* 表格部分 */
.table {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.table-light th {
  background-color: #6f757c !important;
  color: #ffffff;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  border-right: 1px solid rgb(204, 204, 204);
}

.table-light th:hover {
  color: #f5ff40;
}

.table-light th:last-of-type {
  border-right: none;
}

/* 表格内容 */
.table tbody td {
  color: #212c3a;
  border-color: #b4a4b4;
}

.table .del {
  color: #e48933;
  margin-right: 30px;
}

.table .edit {
  color: #1f7cbe;
}

.table tbody tr {
  height: 30px;
  line-height: 30px;
}

.table tbody tr td:last-of-type span {
  cursor: pointer;
}

/* 弹出层 */
.modal .top {
  display: flex;
  justify-content: center;
  background-color: #F0F3F7;
  padding: 15px 0;
  width: 100%;
  position: relative;
  color: #1E2023;
}

/* 右上角-关闭按钮 */
.modal .btn-close {
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
  /* 覆盖bootstrap样式 */
  margin: 0;
  padding: 0;
}

/* 表单容器 */
.form-wrap {
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
}

.form-wrap .form-label {
  color: #696F77;
}

/* 修改输入框默认占位文字
    webkit内核, firefox18-, firfox19+, 其他
    */
.form-wrap input::-webkit-input-placeholder {
  color: #BFBFBF !important;
  font-size: 14px;
}


/* 底部按钮组 */
.modal-footer {
  border-top: 0;
}

.btn-group {
  text-align: center;
  width: 100%;
}

/* 修改bs的按钮弹性布局-改成自己设置大小 */
.btn-group,
.btn-group-vertical {
  display: block;
}

.btn-group button {
  width: 120px
}

.btn-group button:first-of-type {
  border: 1px solid #E3E3E3;
  background-color: #fff;
  color: black;
  margin-right: 60px;
}

.btn-group button:last-of-type {
  background-color: #539ACB;
}

.alert-success {
  border-color: transparent;
}

.toast {
  border: none;
}

.k1 {
  border: 2px solid black;
  padding: 10px;
}

.k2 {
  border: 2px solid black;
  margin-left: 30px;
  padding: 10px;
}