body .tab {
    height: 600px;
    position: relative;
}

.tab .tab-nav1 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 !important;
    margin-top: 30px !important;
}

.tab-nav1 ul {
    list-style: none;
}

.text1 {
    margin-top: 60px;
}

.s {
    float: left;
    /* background: url(img/bai.png); */
    width: 65px !important;
}

.s img {
    margin-left: 12px;
}

.tab-nav1 ul li {
    width: 65px;
    height: 100px;
    margin-right: 5px;
    font-size: 14px;
    float: left;
    position: 0 !important;
    margin-left: -10px !important;
    margin-top: 0 !important;
}

.tab-nav1 ul li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    /* color: #333; */
}

.tab-nav1 ul li a.active {
    border-color: #e1251b;
    color: #e1251b;
}


.superior1 {
    margin-left: 0 !important;
}

.tit {
    width: 1200px;
    height: 100px;
    line-height: 100px;
    float: left;
    text-align: center;
    font-size: 30px;
}

.del {
    width: 55px;
    display: block;
    color: #a0a0a0;
    float: left;
}

.del1 {
    margin-left: 480px;
}

.tit1 {
    display: block;
    float: left;
}

.pass {
    width: 280px;
    height: 40px;
    line-height: 40px;
    border: 3px solid pink;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 12px;
    background-color: #efefef;
}

.imgs {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
}

.imgs img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.love {
    float: left;
    font-size: 18px;
    margin-left: 18px;
}

.superior {
    width: 1200px;
    height: 120px;
    float: left;
    border-bottom: 3px solid rgb(114, 114, 114);
}

li {
    list-style: none;
}

.superior .active {
    display: block;
}

.superior ul {
    float: left;
}



.s .text1 {
    width: 65px;
    font-size: 10px;
    height: 30px;
    text-decoration: none;
    list-style: none;
    /* color: #000; */
}