 body .tab {
     height: 600px;
     position: relative;
 }

 .tna {
     height: 60px;
     line-height: 60px;
     display: flex;
     justify-content: space-between;
     padding: 0;
 }

 .s .tab-nav {
     height: 60px;
     line-height: 60px;
     display: flex;
     justify-content: space-between;
     padding: 0;
 }

 .tab-nav ul {
     list-style: none;
     justify-content: flex-end;
 }

 .tab-nav ul li {
     height: 100px;
     margin: 0 15px;
     font-size: 14px;
     float: left;
 }

 .tab-nav ul li a {
     text-decoration: none;
     border-bottom: 2px solid transparent;
     /* color: #333; */
 }

 .tab-nav ul li a.active {
     border-color: #e1251b;
     color: #e1251b;
 }

 .tab-content {
     /* padding: 0 2px; */
     position: absolute;
     display: flex;
 }

 .tab-content .item {
     display: none;
 }

 .tab-content .item.active {
     display: block;
 }



 .tit {
     width: 1200px;
     height: 100px;
     line-height: 100px;
     float: left;
     text-align: center;
     font-size: 30px;
 }

 .del {
     width: 55px;
     display: block;
     color: #a0a0a0;
     float: left;
 }

 .del1 {
     margin-left: 480px;
 }

 .tit1 {
     display: block;
     float: left;
 }

 .pass {
     width: 280px;
     height: 42px;
     line-height: 42px;
     border: 3px solid pink;
     float: left;
     margin-top: 30px;
     margin-left: 30px;
     border-radius: 12px;
     background-color: #efefef;
 }

 .imgs {
     /* margin-left: 20px; */
     margin-top: -3px;
     width: 42px;
     height: 42px;
     border-radius: 20px;
     float: left;
 }

 .imgs img {
     width: 100%;
     height: 100%;
     border-radius: 20px;
 }

 .love {
     float: left;
     font-size: 18px;
     margin-left: 18px;
 }

 .superior {
     width: 1200px;
     height: 120px;
     float: left;
     border-bottom: 3px solid rgb(114, 114, 114);
 }

 li {
     list-style: none;
 }

 .superior .active {
     display: block;
 }

 .superior ul {
     float: left;
 }

 .super1 {
     margin-left: 160px;
 }

 .superior1 {
     margin-left: 70px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior1.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .text {
     height: 30px;
     width: 70px;
     padding-top: 60px;
 }

 .superior2 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior2.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .superior3 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior3.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .superior4 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior4.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .superior5 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior5.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .superior6 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior6&7.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .superior7 {
     margin-left: 12px;
     width: 70px;
     height: 90px;
     float: left;
     background: url(img/superior6&7.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     margin-right: 30px;
     margin-top: 20px;
 }

 .tab-nav .s1 {
     color: red;
     background: url(img/superior1_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav .s2 {
     color: red;
     background: url(img/superior2_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav .s3 {
     color: red;
     background: url(img/superior3_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }


 .tab-nav .s4 {
     color: red;
     background: url(img/superior4_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav .s5 {
     color: red;
     background: url(img/superior5_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav .s6 {
     color: red;
     background: url(img/superior6&7_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav .s7 {
     color: red;
     background: url(img/superior6&7_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z1 {
     color: red;
     background: url(img/superior1_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z2 {
     color: red;
     background: url(img/superior2_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z3 {
     color: red;
     background: url(img/superior3_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }


 .tab-nav1 .z4 {
     color: red;
     background: url(img/superior4_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z5 {
     color: red;
     background: url(img/superior5_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z6 {
     color: red;
     background: url(img/superior6&7_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tab-nav1 .z7 {
     color: red;
     background: url(img/superior6&7_h.png) 12px 0;
     background-size: 50% 50%;
     background-repeat: no-repeat;
     /* border-bottom: 4px solid red; */
 }

 .tabText {
     font-size: 14px;
     color: #7a7a7a;
     text-align: center;
 }

 .ta {
     display: none;
 }

 .tab1 {
     float: left;
 }

 .content .ta {
     margin-top: 50px;
 }

 .tab1_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab1_1.jpg);
     background-size: 100% 100%;

 }

 .tab1_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab1_2.jpg);
     background-size: 100% 100%;

 }

 .tab1_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab1_3.jpg);
     background-size: 100% 100%;

 }

 .tab1_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab1_4.jpg);
     background-size: 100% 100%;
 }

 .tab2_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab2_1.jpg);
     background-size: 100% 100%;


 }

 .tab2_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab2_2.jpg);
     background-size: 100% 100%;

 }

 .tab2_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab2_3.jpg);
     background-size: 100% 100%;

 }

 .tab2_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab2_4.jpg);
     background-size: 100% 100%;
 }

 .tab3_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab3_1.jpg);
     background-size: 100% 100%;


 }

 .tab3_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab3_2.jpg);
     background-size: 100% 100%;

 }

 .tab3_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab3_3.jpg);
     background-size: 100% 100%;

 }

 .tab3_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab3_4.jpg);
     background-size: 100% 100%;
 }

 .tab4_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_1.jpg);
     background-size: 100% 100%;


 }

 .tab4_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_2.jpg);
     background-size: 100% 100%;

 }

 .tab4_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_3.jpg);
     background-size: 100% 100%;

 }

 .tab4_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_4.jpg);
     background-size: 100% 100%;
 }

 .tab4_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_1.jpg);
     background-size: 100% 100%;


 }

 .tab4_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_2.jpg);
     background-size: 100% 100%;

 }

 .tab4_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_3.jpg);
     background-size: 100% 100%;

 }

 .tab4_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab4_4.jpg);
     background-size: 100% 100%;
 }

 .tab5_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab5_1.jpg);
     background-size: 100% 100%;


 }

 .tab5_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab5_2.jpg);
     background-size: 100% 100%;

 }

 .tab5_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab5_3.jpg);
     background-size: 100% 100%;

 }

 .tab5_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab5_4.jpg);
     background-size: 100% 100%;
 }

 .tab6_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab6_1.jpg);
     background-size: 100% 100%;


 }

 .tab6_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab6_2.jpg);
     background-size: 100% 100%;

 }

 .tab6_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab6_3.jpg);
     background-size: 100% 100%;

 }

 .tab6_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab6_4.jpg);
     background-size: 100% 100%;
 }

 .tab7_1 {
     width: 240px;
     height: 240px;
     background: url(img/tab7_1.jpg);
     background-size: 100% 100%;


 }

 .tab7_2 {
     width: 240px;
     height: 240px;
     background: url(img/tab7_2.jpg);
     background-size: 100% 100%;

 }

 .tab7_3 {
     width: 240px;
     height: 240px;
     background: url(img/tab7_3.jpg);
     background-size: 100% 100%;

 }

 .tab7_4 {
     width: 240px;
     height: 240px;
     background: url(img/tab7_4.jpg);
     background-size: 100% 100%;
 }

 .tabLeft {
     width: 240px;
     text-align: center;
     margin-right: 30px;
 }

 h2 {
     text-align: center;
 }

 .active {
     display: block;
 }

 .ti {
     font-size: 24px;
     text-align: center;
 }